/* GENERAL STYLING */
:root {
  --iris: #4d5ae5;
  --navyblue: #2e2f42;
  --ocean: #404bbf;
  --white: #fff;
  --slate: #434455;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--slate, #434455);
  background-color: #ffffff;
}

.list {
  list-style: none;
  padding-left: 0;
}

.bg-dark {
  background-color: var(--navyblue);
}

.logo {
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #4d5ae5;
}

.header-span {
  color: var(--navyblue, #2e2f42);
}

.logo-web {
  font-family: 'Raleway', sans-serif;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--iris, #4d5ae5);
}

.link {
  text-decoration: none;
  font-style: normal;
}

.section-title {
  color: var(--NAVY-BLUE, #2e2f42);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02;
  text-transform: capitalize;
}

.p-dark-text {
  color: var(--slate);
  line-height: 1.5;
  letter-spacing: 0.32px;
}

.about {
  color: var(--navyblue);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.4px;
}

address {
  font-style: normal;
}

/* END OF GENERAL STYLING */

/* HEADER STYLING */

.logo-studio-nav {
  color: var(--NAVY-BLUE, #2e2f42);
}
.nav-link {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--ocean, #404bbf);
}

.active {
  color: var(--ocean);
}

.contacts {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}

.contacts:hover,
.contacts:focus {
  color: #404bbf;
}

/* END OF HEADER STYLING */

/* HERO SECTION STYLING */
.hero-text {
  color: var(--white);
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  font-style: normal;
}

.hero-button {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: var(--iris);
  border: none;
  border-radius: 4px;
  color: var(--white);
  cursor: pointer;
}

.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}

/* END OF HERO SECTION STYLING */

/* TEAM SECTION STYLING */

.team {
  background-color: #f4f4fd;
}
.team-name {
  color: var(--navyblue);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
}

.list-item {
  background-color: #ffffff;
}

/*END OF HERO SECTION STYLING*/
/* ABOUT SECTION STYLING */

.list-item {
  margin-bottom: 20px;
}

.sec-header {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navyblue, #2e2f42);
}

.sec-paragraph {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate, #434455);
}
/* END OF ABOUT SECTION STYLING */

/* FOOTER STYLING */
.logo-studio-footer {
  color: var(--white);
}

.footer-text {
  color: var(--cloud);
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.footer-span {
  color: var(--CLOUD, #f4f4fd);
}
